<button [disabled]="display" (click)="display = true">開啟計時</button>
<button [disabled]="!display" (click)="display = false">關閉計時</button>
<br>
<app-timer *ngIf="display"></app-timer>

<hr>
<ng-container *ngIf="(post$ | async) as postsAsy and postsAsy?.length > 0; else empty">
    <!-- <table border="1">
        <tr>
            <th>編號</th>
            <th>標題</th>
            <th>作者</th>
        </tr>
        <tr *ngFor="let p of posts; ">
            <td>{{ p.id }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.author }}</td>
        </tr>
    </table>
    <hr> -->
    <table border="1">
        <tr>
            <th>編號</th>
            <th>標題</th>
            <th>作者</th>
        </tr>
        <tr *ngFor="let p of postsAsy; ">
            <td>{{ p.id }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.author }}</td>
        </tr>
    </table>
    <button type="button" (click)="createPost()">新增</button>
    <button type="button" (click)="getPostsRes()">查詢</button>
</ng-container>

<ng-template #empty>
    <div class="data-empty">無待辦事項</div>
</ng-template>

<ng-template #list>
   
</ng-template>
<hr>

