
<table border="1">
<tr>
    <th>編號</th>
    <th>標題</th>
    <th>作者</th>
</tr>
<tr *ngFor="let p of posts ">
    <td>{{ p.id }}</td>
    <td>{{ p.title }}</td>
    <td>{{ p.author }}</td>
</tr>
</table>
<button type="button" (click)="createPost()">新增</button>
<button type="button" (click)="getPostsRes()">查詢</button>

<hr>
<table border="1">
    <tr>
        <th>編號</th>
        <th>名稱</th>
        <th>狀態</th>
    </tr>
    <tr *ngFor="let t of tasks ">
        <td>{{ t.TaskSn }}</td>
        <td>{{ t.TaskName }}</td>
        <td>{{ t.State }}</td>
    </tr>
</table>
<button type="button" (click)="createTask()">新增</button>
