<!-- 6.2.5 提供者範圍 -->
<h3>CustomComponent</h3>
<span>{{ orderService.message }}</span>
<hr>
<!-- 6.2.1 利用 useClass 抽象服務 -->
<table border="1">
    <tr>
        <th>單價</th>
        <th>數量</th>
    </tr>
    <tr *ngFor="let item of orderService.details">
        <td>{{ item.UnitPrice }}</td>
        <td>{{ item.PurchaseCount }}</td>
    </tr>
    <tr>
        <td>總金額</td>
        <td>{{ total }}</td>
      </tr>
</table>

<!-- 6.1.4 水平元件間的互動 -->
<button type="button" [disabled]="fontSizeService.size === 16" (click)="onSetFontSize(1)">
    增加 1 pt
</button>
<button type="button" [disabled]="fontSizeService.size === 10" (click)="onSetFontSize(-1)">
    減少 1 pt
</button>
<p [style.fontSize.pt]="fontSizeService.size">目前文字尺寸：{{ fontSizeService.size }} pt</p>