button {
    margin-right: 10pt;
  }

  p {
    font-family: Lato;
  }
  
  table {
    border-width: 2px;
    border-collapse: collapse;
  }
  
  tr > td {
    text-align: center;
  }
  
  th,
  td {
    width: 150px;
    padding: 10px;
  }
  