:host {
    display: block;
    border: solid 1px #aaa;
  }
  
  .title {
    display: flex;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
  }
  
  .content-ch3 {
    padding: 10px;
    min-height: 100px;
  }
  
  .button-ch3 {
    padding: 10px;
    border-top: 1px solid #aaa;
    text-align: center;
  }