<!-- ######## 4.2.4 動態元件載入 ######## -->
<div>
    <button appButtonConfirm="是否確認？" (confirm)="onConfirm()" type="button" (click)="onSwitch('a')">載入 A 元件</button>
    <button appCustomButton #button="bButton" type="button" (click)="onSwitch('b')">載入 B 元件</button>
    <button type="button" (click)="onSwitch('c')">載入 C 元件</button>
  </div>
<div *ngComponentOutlet="component"></div>

<!-- ######## 4.2.1 清單列表 *ngFor ######## -->
<!-- <span>{{ task.TaskName }}</span> -->

<!-- <button type="button" (click)="onReset()">重設工作事項</button> -->

<!-- <div *ngFor="let task of tasks; let odd = odd" [class.odd]="odd">
  <div>{{ task.TaskName }}</div>
</div>  -->

<!-- ######## 4.2.2 條件判斷 *ngIf ######## -->
<div *ngIf="tasks.length === 0; then empty; else list"></div>

<ng-template #empty>
    <div class="data-empty">無待辦事項</div>
</ng-template>
<ng-template #list>
    <div *ngFor="let task of tasks; let odd=odd" [class.odd]="odd">
        <span>{{ task.TaskName }}</span>
        <!-- ######## 4.2.3 多個條件判斷 *ngSwitch ######## -->
        <div [ngSwitch]="task.State">
            <span *ngSwitchCase="'Doing'">進行中</span>
            <span *ngSwitchCase="'Finish'">已完成</span>
            <span *ngSwitchDefault>未安排</span>
        </div>
    </div>
</ng-template>

